{{- $name := include "name" . -}}
{{- $chart := include "chart" . -}}

{{- range $service, $val := $.Values.services }}
{{- if not .disabled }}
{{- $serviceName := printf "%s-%s" $name $service -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $serviceName }}
  namespace: {{ $.Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ $serviceName }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/version: {{ $.Values.version | quote }}
    app.kubernetes.io/component: {{ $service }}
    helm.sh/chart: {{ $chart }}
    {{- if .labels}}
{{ toYaml .labels | nindent 4 }}
    {{- end }}
spec:
  {{- if .solo }}
  strategy:
    type: Recreate
  replicas: 1
  {{- else }}
  replicas: {{ default 1 .replicas}}
  {{- end }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $serviceName }}
      app.kubernetes.io/instance: {{ $.Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ $serviceName }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
        app.kubernetes.io/version: {{ $.Values.version | quote }}
        app.kubernetes.io/component: {{ $service }}
        app.kubernetes.io/managed-by: {{ $.Release.Service }}
        helm.sh/chart: {{ $chart }}
        {{- if .labels}}
{{ toYaml .labels | nindent 8 }}
        {{- end }}
        {{- if .sensitivity}}
        sensitivity: {{ .sensitivity }}
        {{- end }}
    spec:
      {{- if .serviceAccountName }}
      serviceAccountName: {{ .serviceAccountName }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        fsGroup: 1001
      containers:
        - name: {{ $service }}
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 1001
            runAsNonRoot: true
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          image: "{{ $.Values.image }}:{{ $.Values.version }}"
          {{- if .command }}
          command: [{{ .command }}]
          {{- if .args }}
          args: {{- range .args }}
            - {{.}}
            {{- end }}
          {{- end }}
          {{- end }}
          env:
            - name: NAME
              value: {{ $service }}
            - name: VERSION
              value: "{{ $.Values.version }}"
            - name: VERBOSITY
              value: {{ $.Values.verbosity }}
            - name: PROJECT_ID
              value: {{ $.Values.projectId }}
{{- if $.Values.secretName }}
            - name: SECRETS
              value: {{ $.Values.secretName }}
{{- end }}
{{ toYaml $.Values.environment | indent 12 }}
{{- if .environment }}
{{ toYaml .environment | indent 12 }}
{{- end }}

          ports:
            - name: http
              containerPort: {{ $.Values.service.targetPort }}
              protocol: TCP
{{- if .healthPath }}
          readinessProbe:
            httpGet:
              path: {{ .healthPath }}
              port: {{ $.Values.service.targetPort }}
            failureThreshold: 1
            initialDelaySeconds: 5
            periodSeconds: 5
{{- end }}
          resources:
            limits:
              {{- toYaml .resources | nindent 14 }}
            requests:
              {{- toYaml .resources | nindent 14 }}
---
{{ end }}
{{ end }}
