name: CICD
on: [push]

run-name: CICD
jobs:
  gosec:
    name: Gosec Security Scanner
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ vars.GO_VERSION }}
          cache-dependency-path: ./backend/go.sum
      - name: Download dependencies
        working-directory: backend
        run: go mod download
      - name: Install Gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest
      - name: Run Gosec Security Scanner
        working-directory: backend
        run: gosec --exclude G115 ./...


  backend-tests:
    name: Backend Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup Golang
      uses: actions/setup-go@v6
      with:
        go-version: ${{ vars.GO_VERSION }}
        cache-dependency-path: ./services/go.sum
    - name: Download dependencies
      working-directory: backend
      run: go mod download
    - name: setup compose resources
      working-directory: backend
      run: docker compose up -d --wait postgres
    - name: Run tests
      working-directory: backend
      run: go test ./... -tags=integration
  push-services:
    name: Push the services docker images
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER_ID }}'
          service_account: '${{ secrets.SERVICE_ACCOUNT_EMAIL }}'
      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v3'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: 'us-central1-docker.pkg.dev'
      - name: Build, tag and push container
        id: build-image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{secrets.IMAGE}}:${{ github.sha }}
            ${{secrets.IMAGE}}:latest
  migrate-db:
    if: github.ref == 'refs/heads/main'
    name: Migrate DB
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER_ID }}'
          service_account: '${{ secrets.SERVICE_ACCOUNT_EMAIL }}'
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
        with:
          version: '>= ${{ vars.GCP_SDK_VERSION }}'
      - name: 'Download Cloud SQL Proxy'
        run: curl "https://storage.googleapis.com/cloud-sql-connectors/cloud-sql-proxy/${{ vars.CLOUD_SQL_PROXY_VERSION }}/cloud-sql-proxy.linux.amd64" -o cloud-sql-proxy
      - run: chmod +x cloud-sql-proxy
      - name: Setup Golang
        uses: actions/setup-go@v6
        with:
          go-version: ${{ vars.GO_VERSION }}
      - name: 'Start Cloud SQL Proxy'
        env:
          DB_PASSWORD: "${{ secrets.DB_PASSWORD }}"
          DB_USER: "${{ secrets.DB_USER }}"
          DB_NAME: "${{ secrets.DB_NAME }}"
          GCP_PROJECT: "${{ secrets.GCP_PROJECT }}"
          REGION: "${{ secrets.REGION }}"
          SQL_INSTANCE_NAME: "${{ secrets.SQL_INSTANCE_NAME }}"
        run: |
          ./cloud-sql-proxy -p 5432 $GCP_PROJECT:$REGION:$SQL_INSTANCE_NAME &
          go install github.com/jackc/tern@latest
          bash -c '$(go env GOPATH)/bin/tern migrate --user $DB_USER --password "$DB_PASSWORD" --database $DB_NAME --host 127.0.0.1 --port 5432 --migrations ./services/migrations'

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    name: Deploy to production
    runs-on: ubuntu-latest
    needs: [push-services, migrate-db]
    permissions: 
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: ${{ secrets.HELM_VERSION }}
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER_ID }}'
          service_account: '${{ secrets.SERVICE_ACCOUNT_EMAIL }}'
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'
        with:
          version: '>= ${{ vars.GCP_SDK_VERSION }}'
      - name: 'Install kubectl'
        run: 'gcloud components install kubectl'
      - name: 'Get cluster credentials'
        run: 'gcloud container clusters get-credentials ${{ secrets.CLUSTER_NAME }} --region ${{ secrets.REGION }}'
      - name: 'Deploy'
        run: 'helm upgrade --install ${{ vars.SERVICE_NAME }} ./ops/chart --set version=${{ github.sha }} --set projectId=${{ secrets.GCP_PROJECT }} --set secretName=${{ secrets.SECRET_NAME }} --set image=${{ secrets.IMAGE }}'